[include]
  path = ~/.gitconfig_local

[alias]
  a = add
  br = branch
  branchname = !git branch | sed -n '/^*/s/^* //p'
  bs = bisect
  ca = commit -v --amend
  ci = commit -v
  cl = clone --recursive
  co = checkout
  cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  da = diffall
  deletemerged = !git branch --merged origin/main | grep -v 'main$' | xargs git branch -d
  df = diff --ignore-submodules
  dt = difftool -y
  dump = cat-file -p
  fe = fetch --prune
  hist = log --pretty=format:\"%C(yellow)%h%Creset | %Cgreen%an%Creset | %Cred%ad%Creset | %s%C(cyan)%d%Creset\" --graph --date=short -30
  histall = log --pretty=format:\"%C(yellow)%h%Creset | %Cgreen%an%Creset | %Cred%ad%Creset | %s%C(cyan)%d%Creset\" --graph --date=short
  id = rev-parse
  local-branches = !git branch -vv | cut -c 3- | awk '$3 !~/\\[/ { print $1 }'
  mt = mergetool
  nffmerge = merge --no-ff --log
  ps = push
  pu = pull --prune
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase -i
  rbm = rebase -i origin/main
  rbp = "!f() { mb=$(git merge-base HEAD $1); git rebase -i $mb; }; f"
  re = restore
  root = rev-parse --show-toplevel
  showfiles = diff-tree --no-commit-id --name-only -r
  sm = submodule
  smf = submodule foreach git submodule update --init --recursive -- $path
  smi = submodule init --recursive
  smu = submodule update --init --recursive
  st = status
  sw = switch
  type = cat-file -t
  unstage = reset HEAD
  update-commit-graph = !git show-ref -s | git commit-graph write --stdin-commits
  upstream = !git rev-parse --abbrev-ref --symbolic-full-name @{u}
  upstream-create = !git branchname | xargs git push -u origin
  wip = commit -a -m WIP

[absorb]
  maxStack=50

[branch]
  autosetuprebase = always

[color]
  ui = true

[core]
  autocrlf = input
  commitGraph = true
  editor = nvim
  excludesfile = ~/.gitignore_global
  ignorecase = true
  pager = delta
  preloadindex = true
  sparsecheckout = true
  trustctime = false
  untrackedCache = true

[delta]
  syntax-theme = Solarized (dark)
  features = decorations

[delta "decorations"]
  file-style = bold white none
  file-decoration-style = ul
  hunk-header-decoration-style = "#555555" ul
  hunk-header-style = "#777777" bold
  minus-style= red
  minus-non-emph-style= red
  minus-emph-style= "#ff4444" bold
  plus-style = green
  plus-non-emph-style = green
  plus-emph-style = "#aabb11" bold
  keep-plus-minus-markers = true
  zero-style = raw
  line-numbers = true

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[gc]
  auto = 0
  commitGraph = true

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only
  singlekey = true

[diff]
  tool = nvim

[difftool]
  prompt = false

[difftool "nvim"]
  prompt = false
  cmd = nvim -d

[merge]
  tool = nvim
  conflictstyle = diff3

[mergetool]
  prompt = false
  keepBackup = false

[mergetool "nvim"]
  prompt = false
  keepBackup = false
  cmd = nvim -f -c \"Gdiff\" \"$MERGED\"

[pull]
  rebase = true

[push]
  default = simple

[rebase]
  autosquash = true
  updateRefs = true

[status]
  submodulesummary= true

[submodule]
  fetchJobs = 8

[user]
  name = Ian Hobson
  email = ian.r.hobson@gmail.com
