# Api config files, use `api_key` or `api_key_command` fields
# to set the api key for each api
# more details at https://github.com/efugier/smartcat#configuration

[openai]
url = "https://api.openai.com/v1/chat/completions"
default_model = "gpt-5-mini"
api_key_command = "echo $OPENAI_API_KEY"

[groq]
url = "https://api.groq.com/openai/v1/chat/completions"
default_model = "llama-3.3-70b-versatile"
api_key_command = "echo $GROQ_API_KEY"

[ollama]
url = "http://localhost:11434/api/chat"
default_model = "qwen2.5-coder:32b"
timeout_seconds = 180

[azureopenai]
url = "https://your-azure-endpoint.azure.com/openai/deployments/your-deployment-id/chat/completions?api-version=2024-06-01"
default_model = "gpt-4o"

[mistral]
url = "https://api.mistral.ai/v1/chat/completions"
default_model = "mistral-medium"

[anthropic]
url = "https://api.anthropic.com/v1/messages"
default_model = "claude-sonnet-4-5-20250929"
version = "2023-06-01"
api_key_command = "echo $ANTHROPIC_API_KEY"
